$body-bg: #eff3f6;
$body-color: #2c3e50; // #354052

$theme-colors: (
  "primary": #17a4ea,
  "light": #e8eaf1,
  "danger": #ff4e4e,
  "success": #29cc8b,
);

$text-muted: #7f8fa4;

$font-weight-bold: 600;

$white: #fff;
$catskill-white: #f8fafc;

$athens-gray: #e8eaf1;
$regent-gray: #7f8fa4;
$gull-gray: #9ea9b8;
$raven: #77808d;

$mischka: #ced0da;
$shamrock: #29cc8b;
$aqua-haze: #eff3f6;

$curious-blue: #1991eb; //#17A4EA
$picton-blue: #17a4ea; //#2EA2F8
$oxford-blue: #354052; //#3C495C

$sunset-orange: #ff4e4e;
$burnt-sienna: #ef5350;

$buttercup: #f5a623;

$ebony-clay: #273142;
$east-bay: #3d5372;
$turqoise: #39c9c9;
$cruise: #ace8d2;
$purple: #610cab;
$olive: #9d9400;

$body-bg: $aqua-haze;

$theme-colors: (
  "primary": $picton-blue,
  "secondary": $oxford-blue,
);

$primary: $picton-blue;
$secondary: $oxford-blue;

$headings-color: $east-bay;
$body-color: $regent-gray;

$link-color: $curious-blue;
$link-hover-color: $secondary;
