// @import "~bootstrap/scss/buttons";
// // @import "colors";
// // @import "fonts";

.btn {
  position: relative;

  &-login {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    color: $white;
    background-color: $shamrock;
    transition: background-color ease-in-out 0.2s;

    &:hover {
      color: $white;
      background-color: #0c905b;
    }
  }

  &-next {
    display: inline-flex;
    align-items: center;
    padding-right: 0;
    background-color: $primary;
    color: $white;
    min-height: 26px;

    &::after {
      content: "";
      display: inline-block;
      margin: 0 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg height='26' viewBox='0 0 26 26' width='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m123 10c-1.79428 0-3.482739.3385395-5.065431 1.015625-1.582688.6770855-2.962232 1.603836-4.13867 2.7802742-1.176439 1.1764383-2.103187 2.555982-2.780274 4.1386703-.677087 1.5826915-1.015625 3.271151-1.015625 5.0654305s.338538 3.482739 1.015625 5.0654305c.677087 1.5826882 1.603835 2.962232 2.780274 4.1386702 1.176438 1.1764389 2.555982 2.1031875 4.13867 2.7802743 1.582692.6770868 3.271151 1.015625 5.065431 1.015625 1.794279 0 3.482739-.3385382 5.06543-1.015625 1.582689-.6770868 2.962232-1.6038354 4.138671-2.7802743 1.176438-1.1764382 2.103188-2.555982 2.780274-4.1386702.677085-1.5826915 1.015625-3.271151 1.015625-5.0654305s-.33854-3.482739-1.015625-5.0654305c-.677086-1.5826883-1.603836-2.962232-2.780274-4.1386703-1.176439-1.1764382-2.555982-2.1031887-4.138671-2.7802742-1.582691-.6770855-3.271151-1.015625-5.06543-1.015625zm5.306639 13.7109375-4.595701 4.5957015c-.152344.169273-.342771.2539095-.571289.2539095-.228517 0-.418944-.0846365-.571288-.2539095-.169273-.1523437-.253909-.342771-.253909-.5712882 0-.2285173.084636-.4189445.253909-.5712883l3.351563-3.3515625h-8.607424c-.220054 0-.410482-.0804017-.571288-.2412117-.16081-.1608068-.241212-.351234-.241212-.5712883s.080402-.4104815.241212-.5712882c.160806-.16081.351234-.2412118.571288-.2412118h8.607424l-3.351563-3.3515625c-.169273-.1523438-.253909-.342771-.253909-.5712883 0-.2285172.084636-.4189445.253909-.5712882.152344-.169273.342771-.2539095.571288-.2539095.228518 0 .418945.0846365.571289.2539095l4.595701 4.5957015c.101566.1015625.169273.2158195.203125.3427743.033855.1269515.033855.2496714 0 .3681632.033855.1184918.033855.2412118 0 .3681633-.033852.1269547-.101559.2412117-.203125.3427742z' fill='%23fff' fill-rule='evenodd' transform='translate(-110 -10)'/%3E%3C/svg%3E");
      width: 26px;
      height: 26px;
      transition: background-image 0.15s ease-in-out;
    }

    &:hover {
      color: $white;
      background-color: $curious-blue;
    }
  }

  &-prev {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    padding-right: 30px;
    background-color: $white;
    color: $primary;
    border-color: $primary;
    min-height: 26px;

    &::before {
      content: "";
      display: inline-block;
      margin: 0 20px 0 15px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%2317a4ea' fill-rule='evenodd' d='m27.0302727 23.047894-4.4189438 4.5957015c-.1464844.169273-.3295875.2539095-.5493156.2539095s-.4028313-.0846365-.5493156-.2539095c-.1627625-.1523437-.2441438-.342771-.2441438-.5712882 0-.2285173.0813813-.4189445.2441438-.5712883l3.2226562-3.3515625h-8.2763687c-.2115907 0-.3946938-.0804017-.5493157-.2412117-.154625-.1608068-.2319343-.351234-.2319343-.5712883 0-.2200542.0773093-.4104815.2319343-.5712882.1546219-.16081.337725-.2412118.5493157-.2412118h8.2763687l-3.2226562-3.3515625c-.1627625-.1523437-.2441438-.342771-.2441438-.5712882 0-.2285173.0813813-.4189445.2441438-.5712883.1464843-.169273.3295875-.2539095.5493156-.2539095s.4028312.0846365.5493156.2539095l4.4189438 4.5957015c.0976593.1015625.1627625.2158195.1953125.3427743.0325531.1269515.0325531.2496715 0 .3681632.0325531.1184918.0325531.2412118 0 .3681633-.03255.1269547-.0976532.2412117-.1953125.3427742z' transform='matrix(-1 0 0 1 27.928 -16)'/%3E%3C/svg%3E%0A");
      width: 26px;
      height: 12px;
      width: 12px;
      transition: background-image 0.15s ease-in-out;
    }

    &:hover {
      color: $white;
      background-color: $curious-blue;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='m27.0302727 23.047894-4.4189438 4.5957015c-.1464844.169273-.3295875.2539095-.5493156.2539095s-.4028313-.0846365-.5493156-.2539095c-.1627625-.1523437-.2441438-.342771-.2441438-.5712882 0-.2285173.0813813-.4189445.2441438-.5712883l3.2226562-3.3515625h-8.2763687c-.2115907 0-.3946938-.0804017-.5493157-.2412117-.154625-.1608068-.2319343-.351234-.2319343-.5712883 0-.2200542.0773093-.4104815.2319343-.5712882.1546219-.16081.337725-.2412118.5493157-.2412118h8.2763687l-3.2226562-3.3515625c-.1627625-.1523437-.2441438-.342771-.2441438-.5712882 0-.2285173.0813813-.4189445.2441438-.5712883.1464843-.169273.3295875-.2539095.5493156-.2539095s.4028312.0846365.5493156.2539095l4.4189438 4.5957015c.0976593.1015625.1627625.2158195.1953125.3427743.0325531.1269515.0325531.2496715 0 .3681632.0325531.1184918.0325531.2412118 0 .3681633-.03255.1269547-.0976532.2412117-.1953125.3427742z' transform='matrix(-1 0 0 1 27.928 -16)'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &-add {
    font-size: $font-size-small;
    border-radius: 3px;
    background-color: $regent-gray;
    color: $white;
    padding: 10px 17px 10px 38px;

    &:hover {
      color: $white;
      background-color: $secondary;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 10px;
      left: 19px;
      top: 17px;
      background-color: $white;
    }

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      left: 15px;
      top: 21px;
      background-color: $white;
    }
  }

  &-continue {
    background-color: $athens-gray;
    font-size: 12 / 16 + rem;
    border-radius: 3px;
    line-height: 12 / 16 + rem;
    padding: 10px 22px 10px 10px;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: $regent-gray transparent transparent transparent;
      top: 13px;
      right: 10px;
      transition: border-color ease-in-out 0.15s;
    }

    &:hover {
      background-color: $regent-gray;
      color: $white;

      &::after {
        border-color: $white transparent transparent transparent;
      }
    }
  }

  &-submit {
    background-color: $athens-gray;
    font-size: 12 / 16 + rem;
    border-radius: 3px;
    line-height: 12 / 16 + rem;
    padding: 10px;

    &:hover {
      background-color: $regent-gray;
      color: $white;
    }
  }

  &-default {
    padding: 9.5px 12px;
    background-color: $athens-gray;
    color: $regent-gray;
    font-size: $font-size-small;
    line-height: 15px;
    border-radius: 4px;
  }
}
