.CheckedImage {
  &.half-width {
    max-width: 50%;
  }

  &__inner {
    background: $white;
    padding: 15px 15px 40px;
    text-align: center;
    position: relative;
    width: 100%;
    border: 1px solid $mischka;
    border-radius: 3px;
    border-color: $shamrock;
    background-color: rgba($shamrock, 0.1);

    img {
      display: block;
      margin: auto;
    }

    .item-title {
      position: absolute;
      font-size: 14px;
      margin-top: 0.5rem;
      color: $raven;
      text-transform: none;
      left: 0;
      width: 100%;
    }

    .item-check {
      height: 40px;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity ease 0.28s;
      width: 40px;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
      }

      &::before {
        border-style: solid;
        border-width: 0 40px 40px 0;
        border-color: transparent $shamrock transparent transparent;
        transition: transform ease 0.28s;
        z-index: 1;
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg height='9' viewBox='0 0 12 9' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m778.921953 293.707368-2.751221-2.65263-1.170732 1.13684 3.921953 3.808422 8.078047-7.84421-1.17073-1.15579z' fill='%23fff' fill-rule='evenodd' transform='translate(-775 -287)'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
        height: 9px;
        right: 5px;
        transition: opacity ease 0.28s 0.18s;
        top: 6px;
        width: 12px;
      }
    }
  }
}
