.dashboard-overview-head {
  display: table-cell;
  background-color: $aqua-haze;
  color: $regent-gray;
  font-size: $font-size-small;
  text-align: left;

  &:last-of-type {
    padding-right: 20px;
  }

  &--status {
    width: 80px;
  }

  &--document-date {
    width: 250px;
  }
}
