$btn-border-radius: 0;
$btn-font-weight: 600;
$btn-font-size: 18 / 16 + rem;
$btn-padding-y: 10 / 16 + rem;
$btn-padding-x: 1.25rem;
$btn-border-width: 1px;
$btn-font-family: $headings-font-family;

$btn-font-size: $h5-font-size;
$btn-line-height: 26 / 16 + rem;
$btn-link-hover-color: $white;
$btn-active-box-shadow: none;

$btn-focus-box-shadow: none;
$btn-border-radius: 30px;
