$font-family-base: "Gibson", sans-serif;

$font-size-base: 1rem;
$font-size-small: calc(14 / 16) + rem;

$line-height-base: calc(26 / 16);
$line-height-sm: 1.2;
$line-height-lg: 1.5;

$headings-margin-bottom: 1rem;
$headings-line-height: 1.1;
$font-family-base: "Gibson", sans-serif;
$headings-font-weight: 600;

$link-decoration: underline;
$link-font-family: "Gibson", sans-serif;

// $headings-color: $dark-blue;
// $body-color: $dark-blue;

$display1-size: calc(90 / 16) + rem;

$h1-font-size: calc(34 / 16) + rem;
$h2-font-size: calc(30 / 16) + rem;
$h3-font-size: calc(24 / 16) + rem;
$h4-font-size: calc(20 / 16) + rem;
$h5-font-size: calc(18 / 16) + rem;
$h6-font-size: calc(16 / 16) + rem;

$font-sizes-mobile: (
  "h1": calc(40 / 16) + rem,
  "h2": calc(30 / 16) + rem,
  "h3": calc(30 / 16) + rem,
  "h4": calc(24 / 16) + rem,
  "h5": calc(20 / 16) + rem,
  "h6": calc(16 / 16) + rem,
  "s": calc(15 / 16) + rem,
  "xs": calc(14 / 16) + rem,
);
