.dashboard-upload {
  margin-top: 50px;

  &__window {
    background-color: $white;
    border-radius: 5px;
    border: 3px dashed $gull-gray;
    padding: 30px 0;
  }

  &__button {
    &:hover {
      .upload-button-fill {
        fill: $regent-gray;

        &2 {
          fill: $shamrock;
        }
      }
    }

    .upload-button-fill {
      transition: fill ease-in-out 0.18s;

      &2 {
        fill: $picton-blue;
        transition: fill ease-in-out 0.18s;
      }
    }
  }

  &__text {
    margin-top: 15px;
  }

  &__title {
    margin-bottom: 0;
  }
}
