// Labels

$labels: (
  "done": $shamrock,
  "pending": $olive,
  "denied": $purple,
  "waiting": $east-bay,
);

@each $name, $val in $labels {
  .label--#{$name} {
    padding: 6px 7px;
    border-radius: 3px;
    font-family: $headings-font-family;
    color: $white;
    font-weight: $headings-font-weight;
    text-transform: uppercase;
    background-color: $val;
    font-size: $font-size-small;
  }
}
