@import '~bootstrap/scss/modal';

// Make modal fullscreen
.modal-fullscreen {
  .modal-dialog {
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-height: 100%;
    padding: 0;
    width: 100%;
  }

  .modal-content {
    border-radius: 0;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    border: 0;
  }
}

.modal-header {
  border-bottom: none !important;
  padding-left: 2rem;
}
.modal-title {
  font-weight: 600 !important;
}
.modal-body {
  padding: 1rem 2rem;
}
.modal-footer {
  border-top: 1px solid #CED0DA;
  background: #F0F3F8;
}
.modal-backdrop {
  background-color: #354052 !important;
}
.modal-backdrop.show {
  opacity: 0.8 !important;
}
.modal-open {
  padding-right: 0px !important;
}
