@import "aside";
@import "window";
@import "row";
@import "col";
@import "form";

.login {
  height: 100vh;
  display: flex;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("~@/assets/image/login/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: blur(20px);
    z-index: -1;
  }
}
