//
// Common: variables: forms
//

$input-padding-x: 15px;
// $input-padding-y:    .75rem;
//
$input-color-placeholder: $secondary;

// $input-bg: $dark-jungle-green;
$input-color: $secondary;
$input-border-radius: 4px;
$input-border-width: 1px;
$input-height: 40px;
$input-border-color: $mischka;
$input-focus-bg: $input-bg;
$input-focus-border-color: $primary;
$input-focus-color: $secondary;
$input-focus-box-shadow: $primary;

$label-margin-bottom: 2px;

$custom-select-focus-box-shadow: $primary;

$form-grid-gutter-width: 40px;

$form-group-margin-bottom: 30px;
